/* Navbar.css */
/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px 20px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
}

.navbar a {
  text-decoration: none;
}



/* Navbar.css */

/* Initial styles for all buttons */
.navbar-button {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
  position: relative; /* Position relative for pseudo-element */
}

/* Add a pseudo-element for the border */
.navbar-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Initial width is 0 (no border) */
  height: 2px; /* Border height */
  background-color: #007bff; /* Border color */
  transition: width 0.3s ease; /* Smoothly transition the width */
}

/* Style for the active button */
.navbar-button.active {
  color: #007bff;
}

.navbar-button.active::before {
  width: 100%; /* Full width for the border */
}



.left-buttons {
  display: flex;
  gap: 10px; /* Adjust the gap between left buttons */
  align-items: center;
}

.left-buttons button {
  color: #333;
  background-color: transparent;
  padding: 5px 10px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.page{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  height: 120vh;
  overflow: hidden; /* Hide overflow to prevent scrollbar when sidebar is hidden */
}

/* Sidebar.css */

/* Adjust the trigger element styles */


.main-content {
  flex: 1;
}

.main-container {
  display: flex;
}

.error-message {
  color: #ff0000; /* White text color */
  padding: 10px; /* Add some padding to the message */
  border-radius: 5px; /* Rounded corners for a nicer look */
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center-align the text */
  margin: 10px 0; /* Add margin for spacing */
}






/* Add styling for Navbar and Sidebar here */
