.sidebar {
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
    overflow: hidden; 
}

.sidebar.wide {
    background-color: rgb(255, 255, 255);
    width: 230px;
}

.sidebar.narrow {
    background-color: rgb(255, 255, 255);
    width: 100px;
}

.link {
    padding: 5px;
    align-items: center;
    display: flex;
    width: 77%; 
    color: rgb(0, 0, 0);
    height: 40px;
    margin-top: 10px;
    border: 1px solid rgb(255, 255, 255);
    transition: opacity 0.5s ease-in-out; 
}

.link.narrow {
    width: 37%; 
    height: 30px;
}

.link:hover {
    opacity: 0.8; 
}

.icon-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.sidebar li:hover {
    cursor: pointer;
    border: 1px solid rgb(1, 0, 37);
    border-radius: 15px;
    transition: 0.7s;
}

.icon {
    width: 20px;
    height: 20px;
}

.sidebar button {
    background-color: transparent;
    border: transparent;
}

.menu-icon {
    width: 25px;
    height: 25px;
}

.top-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon-container {
    width: 50px;
    height: 50px;
    padding-top: 22px;
}

.menu-icon-container.narrow {
    padding-left: 13px;
}

.menu-icon-container:hover {
    cursor: pointer;
}

.middle-section {
    height: 84%;
}
