/* Sidebar.css */

/* Default styles for the sidebar */
.sidebar {
  padding: 10px;
  width: 380px; /* Adjust the width as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle lift effect */
  transition: width 0.3s ease; /* Transition for expanding the sidebar */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
}

/* Styles for the sidebar when it's in the "hovered" state */

/* Style for the user picture */
.picture {
  width: 100px; /* Adjust the image size as needed */
  height: 100px;
  border-radius: 50%; /* Make it circular */
  margin: 0 auto; /* Center the image horizontally */
  display: block; /* Ensure it's a block-level element */
  margin-bottom: 10px; /* Add spacing below the image */
  cursor: pointer; /* Add cursor pointer for interaction */
}

/* Styles for the info row */
.info-row {
  text-align: center; /* Center text in the info row */
  width: 100%; /* Ensure full width for the info row */
}


/* Style for the "Visit profile" button */
.sidebar button {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Padding for the button */
  margin-top: 2px; /* Add spacing above the button */
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease; /* Transition for button hover effect */
  width: 100%; /* Make the button full width */
  max-width: 150px; /* Limit the maximum width of the button */
}

.sidebar button:hover {
  background-color: #0056b3; /* Button background color on hover */
}

.left-container:hover {
  width: 40%;
  opacity: 1; /* Change opacity to 1 on hover */
}
