.users-button-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 40%;
}

.user-button {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
  position: relative; /* Position relative for pseudo-element */
  transition: color 0.3s ease; /* Smooth transition for text color */
}

/* Add a pseudo-element for the border */
.user-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Initial width is 0 (no border) */
  height: 2px; /* Border height */
  background-color: #007bff; /* Border color */
  transition: width 0.3s ease; /* Smoothly transition the width */
}

/* Style for the active button */
.user-button.active {
  color: #007bff;
}

/* Modify the pseudo-element width for the active button */
.user-button.active::before {
  width: 100%; /* Full width for the border */
}

.users-content {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.user {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.picture {
  width: 80px;
  height: 80px;
  background-color: #333;
  margin-right: 10px;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
}

.user-btn {
  display: flex;
  flex-direction: column;
}

.user-btn-row {
  display: flex;
  gap: 10px;
}

.user-btn button {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth transition for text color */
  padding: 5px 10px;
  outline: none;
}

.user-btn button:hover {
  color: #007bff;
}

/* Style the search container */
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  width: 300px; /* Adjust the width as needed */
}

/* Style the search input */
.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
}

/* Style the search icon container */
.search-icon-container {
  background-color: #f2f2f2;
  padding: 10px;
  cursor: pointer;
}

/* Style the search icon */
.search-icon {
  color: #666;
}

