.notifications{
  width: 1000px;
  height: 600px;
}

.page-buttons-container{
  width: 1000px;
  display: flex;
  justify-content: center;
}

.page-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 400px;
}

.page-buttons button {
  margin-right: 10px;
  width: 150px;
}


