.login {
  width: 400px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.register {
  width: 400px;
  height: 540px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.register > * {
  margin-bottom: 15px;
}

.register-link {
  margin-top: 20px;
  text-align: center;
}
